<div id="uploads">
  <div id="uploads_h_container">
    <h2>Recent Uploads</h2>
  </div>
  <div id="mode_container">
    mode:
    <span id="mode_recent" class="clickable map_mode {% if mode == 'recent' %} selected_mode{% end %}">recent</span> /
    <span id="mode_nearby" class="clickable map_mode {% if mode == 'nearby' %} selected_mode{% end %}">nearby</span>
  </div>
  <div class="clearboth"></div>
  {% if do_uploads %}
  <div id="uploads_box">
    <ul>
    </ul>
  </div>
  {% end %}
  {% if do_map %}
  <div id="map_div" style="width: 500px; height: 400px;"></div>
  {% end %}
  <div class="clearboth"></div>
  {% if debug %}
  <div id="time_elapsed"></div>
  {% end %}
</div>
