{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{static_url('css/home.css')}}">
{% end %}

{% block mobile_css %}
<link rel="stylesheet" type="text/css" href="{{static_url('css/m_home.css')}}">
{% end %}

{% block extra_js %}
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key={{gmaps_api_key}}&sensor=true"></script>
<script type="text/javascript" src="{{static_url('js/home.js')}}"></script>
<script type="text/javascript">
{% if not mobile and latlng %}
var markers = [
{% for l in latlng %}
  new google.maps.LatLng({{l['lat']}}, {{l['lng']}}),
{% end %}
];
var bounds = new google.maps.LatLngBounds(
  new google.maps.LatLng({{sw_point['lat']}}, {{sw_point['lng']}}),
  new google.maps.LatLng({{ne_point['lat']}}, {{ne_point['lng']}}));
{% else %}
var markers = null;
{% end %}
</script>

{% end %}

{% block head_text %}
<br>
{% if not user %}
You can start anonymously uploading photos
immediately, or create an account if you want to get credit for your uploads.
{% else %}
Welcome, <span class="user">{{ user.name }}</span>. Perhaps you'd like to upload some new photos?
{% end %}

{% end %}

{% block body %}

{% if mobile %}
  {% raw modules.PhotoUpload() %}
  {% raw modules.RecentPhotos(recent_photos, esc, False) %}
{% else %}
  {% raw modules.RecentPhotos(recent_photos, esc, True) %}
  {% raw modules.PhotoUpload() %}
  {% raw modules.About() %}
{% end %}


{% end %}
