{% extends "base.html" %}

{% block extra_js %}
    <script src="{{static_url('js/main.js')}}"></script>
{% end %}

{% block head %}
<h1 id="title">Graff Spotting</h1>

Welcome to <em>Graff Spotting</em>. Upload a photo, why don't you?
{% end %}

{% block body %}
<h2>Upload</h2>
<form id="imgform" enctype="multipart/form-data" action="/upload" method="POST">
  {% raw xsrf_form_html() %}
  <input id="imgfield" name="img" type="file" />
</form>

<h2>Recent Uploads</h2>
<ul>
  {% for photo in recent_photos %}
  <li><img src="/p/{{photo['photo_id']}}.ts"> <a href="/photo/{{photo['photo_id']}}">{{photo['uploaded']}} {{photo['photo_id']}}</a></li>
  {% end %}
</ul>

<h2>About</h2>

There are lots of great sites on the web for finding awesome pictures of
graffiti/street art in your hood. The problem is that these sites never show
you <em>where</em> the graffiti is located, or if it's still there. That 20'
Swampy piece that someone just uploaded to Flickr is awesome; but
what's <em>really</em> awesome is if you can hop on your bike and go find it,
and see it in meatspace.

<p>
  
The idea for <em>Graff Spotting</em> is to be a graffiti blog that incorporates
location data. You can either directly enter where you took a picture, or if
your camera supports geolocation data (e.g. if you took a photo from your
iPhone/Android/mobile phone), the picture can be automatically tagged with
location data.
        
<p>
      
One day there might be an Android or iPhone app. No promises, though.

{% end %}
