{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{static_url('css/photo.css')}}">
{% end %}

{% block extra_js %}
  {% if has_coordinates %}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key={{config.get('gmaps_api_key', 'AIzaSyCTd_7j6ZeXATLOfTvpAqaqCkxM0zFP5Oc')}}&sensor={{sensor}}"></script>
    <script type="text/javascript" src="{{static_url('js/photo.js')}}"></script>
  {% end %}
{% end %}

{% block body %}
<div id="photo_box">
  <img src="/p/{{photo_id}}.l" class="graff_img">
</div>
<label>Uploader:</label>
{% if photo.user %}
<span class="user"><a href="/user/{{photo.user.name}}">{{photo.user.name}}</a></span>
{% else %}
Anonymous
{% end %}
<br>
<label>Time Uploaded:</label> {{ upload_time }} <br>
<label>Time Taken:</label> {{ photo_time }} <br>

<br>
{% if has_coordinates %}
<label>Coordinates:</label> {{ coordinates }}
<div id="map_canvas"></div>

<script type="text/javascript">
  var latitude = {{photo.latitude}};
  var longitude = {{photo.longitude}};
</script>
{% else %}
There's no location data for this image.
{% end %}

{% end %}
